#clockFace {
    text-align: center;
}

#start {
    background-color: green;
}

#stop {
    background-color: red;
}

#reset {
    background-color: gray;
}

.container {
    height: 250px;
    width: 300px;
}

.clockFace {
    border: 2px solid black;
    height: 50px;
    widows: 75px
}